*{
    padding: 0;
    margin: 0;
}
.portfolio-container{
    min-height: 100vh;
    width: 100%;
    display: flex;
}
.navlist{
    display: flex;
    gap: 3.5rem;
    height: 15vh;
    width: 100%;
    justify-content: center;
    align-items: center;
    position: fixed;
}
.navlist li{
    list-style: none;
}
.navlist li a{
    text-decoration: none;
    text-transform: uppercase;
    font-size: 1rem;
    color: white;
}   
.left-container, .right-container{
    height: 100vh;
    display: flex;
    align-items: center;
}
.left-container{
background-color: #262525;
width: 70%;
padding-left: 3rem;
}
.right-container{
background: linear-gradient(-45deg,#3877ff,#262525 70%);
width: 30%;
}
.icons .fa-brands{
    color: white;
    font-size: 2rem;
}
.icons{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 2rem;
}
.content{
    margin-left: 4rem;
}
.content .intro{
    font-size: 1.5rem;
    color: white;
}
.content .intro span{
    color: rgba(0, 162, 255, 0.788);
}
.content h1{
    font-size: 4rem;
    color: rgba(0, 162, 255, 0.788);
}
.content .detail{
    font-size: 1.1rem;
    color: white;
    max-width: 35rem;
    margin: 1.1rem 0 2rem 0;
    line-height: 1.5rem;
}
.btn button{
    border: 0.1rem solid rgba(0, 162, 255, 0.788);
    font-size: 1.1rem;
    padding: 0.8rem 1.5rem;
    border-radius: .5rem;
    cursor: pointer;
    transition: .4s ease;
}
button:nth-child(1){
    background: rgba(0, 162, 255, 0.788);
    color: black;
}
button:nth-child(2){
    background: transparent;
    color: rgba(0, 162, 255, 0.788);
    margin-left: 2rem;
}
button:nth-child(1):hover{
    background: transparent;
    color: rgba(0, 162, 255, 0.788);
}
button:nth-child(2):hover{
    background: rgba(0, 162, 255, 0.788);
    color: black;
}
.icons .fa-brands:hover{
    cursor: pointer;
    background: linear-gradient(white,rgba(0, 162, 255, 0.788));
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}
.design .circle{
aspect-ratio: 1;
position: absolute;
border-radius: 15%;
top: 50%;
left: 70%;
transform: translate(-50%,-50%);
}
.circle:nth-child(1){
background: linear-gradient(90deg,transparent 50% ,  #262525 50%);
width: 250px;
}
.circle:nth-child(2){
    height: 300px;
width: 300px;
background-image: url('image.jpg');
background-size: 100%;
background-repeat: no-repeat;
border: .1rem solid white;
box-shadow:
0 0 1rem white,
inset 0 0 1rem white,
0 0 2rem #3877ff,
inset 0 0 2rem #3877ff,
0 0 4rem #3877ff,
inset 0 0 4rem #3877ff;


}








